.column {
  float: left;
  width: 90%;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color:#aaa;
  margin-top: 20px;
}

.column .img {
  width: 100%;
  height: auto;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#col0{
  width:5%;
  background: white;
}

#col1 {
  background-color: #FEF1F4;;
  height:400px;
  width:63%;
}


#col2 {
  
  width: 25.55%;
  height:400px;
  margin-top: 20px;
  margin-left: 20px;
}

#col2 .img {
  width: 100%;
  height: auto;
}

#col3 {
  background:blue;
  width:29%;
  height:400px;
}

#col4 {
  background:pink;
  width:29%;
  margin-top: 20px;
  margin-left: 20px;
  height:400px;
}

#col4 .img {
  width: 100%;
  height: auto;
}

#col5 {
  background:violet;
  width:29%;
  margin-top: 20px;
  margin-left: 20px;
  height:400px;
}

#col6 {
  background:violet;
  width:16.84%;
  margin-top: 20px;
  height:250px;
}

#col7 {
  background:violet;
  width:16.84%;
  margin-top: 20px;
  margin-left: 20px;
  height:250px;
}

#col8 {
  background:violet;
  width:16.84%;
  margin-top: 20px;
  margin-left: 20px;
  height:250px;
}

#col9 {
  background:violet;
  width:16.84%;
  margin-top: 20px;
  margin-left: 20px;
  height:250px;
}

#col10 {
  background:violet;
  width:16.84%;
  margin-top: 20px;
  margin-left: 20px;
  height:250px;
}

.content-text{
  position: relative;
  left: 30%;
  font-size: 50px;
  color: black;
  text-align:left;
  background:;
  width: 50%;
}

.content-parra{
  position: relative;
  left: 31%;
  font-size: 20px;
  color: black;
  text-align:left;
  background:;
  width: 50%;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}